section{
  &.Header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    padding: 80px 0;
    margin-top: 50px;
    height: 70vh;
    position: relative;
    color: #e2e1e7;
    background-color: #fff;
    @media (min-width: $screen-lg-min){
      padding: 10px 0 0;
      height: 700px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 60px 0;
    }
    @media (max-width: $screen-xss-max) {
      padding: 20px 0;
      height: 40vh;
    }
    & .Banner{
      & h1{
        color: #636b6f;
        font-weight: 300;
      }
      & h3{
        color: #636b6f;
        font-weight: 300;
      }
    }
  }
  &.header{
    background: #f1f1f1;
    margin-top: 50px;
    padding: 15px 0;
    margin-bottom: 20px;
    & ol{
      &.breadcrumb{
        background-color: transparent;
        margin-bottom: 0;
        padding: 8px 15px 8px 0;
        & a{
          color: #cbd0d3;
          &:hover{
            color: #cbd0d3;
            text-decoration: none;
          }
        }
      }
    }
    & h3{
      color: #afafaf;
      margin: 0;
      font-weight: 200;
    }
    & .action_but{
      padding-top: 20px;
    }
  }
  &.welcome{
    background: #f1f1f1;
    padding: 48px 0;
    & .welcome-message{
      margin-bottom: 20px;
      & h4{
        font-size: 38px;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        color: #333;
        font-weight: 300;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
      }
      & p{
        font-size: 26px;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        color: #767676 !important;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
      }
    }
    & .welcome-box{
      & h4{
        margin-top: 5px;
        margin-bottom: 0;
        line-height: 1.5;
        color: #333;
        .alt-f4{
          -webkit-font-smoothing: antialiased;
          font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
      & p{
        margin-top: 0;
        margin-bottom: 10px;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
        & .alt-text-small {
          font-size: 14px !important;
          color: #767676 !important;
        }
      }
    }
  }
  &.companies{
    padding: 40px 0;
  }
  &.featured-listings{
    padding: 40px 0;
  }
  &.who{
    background: #fff;
    padding: 48px 0;
    & .welcome-message{
      margin-bottom: 80px;
      & h4{
        font-size: 38px;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        color: #333;
        font-weight: 300;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
      }
      & p{
        font-size: 26px;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        color: #767676 !important;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
      }
    }
    & .welcome-box{
      & h4{
        margin-top: 5px;
        margin-bottom: 0;
        line-height: 1.5;
        color: #333;
        font-size: 30px;
        .alt-f4{
          -webkit-font-smoothing: antialiased;
          font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
      & p{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
        & .alt-text-small {
          font-size: 14px !important;
          color: #767676 !important;
        }
      }
    }
  }
}